<!DOCTYPE html>
<html lang="en" ng-app="googleMaps">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/angular-busy.min.css">
    <link rel="stylesheet" type="text/css" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-controller="mainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <div class="pull-left google-image">
                    <img src="images/powered_by_google_on_non_white.png">
                </div>
                <div class="col-sm-2 pull-right nav-right-button">
                    <button class="btn btn-default btn-block" ng-click="getSavedLocations()">My Saved Locations</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container main-container">
        <div class="row">
            <div ng-show="displaySearch" class="col-sm-6 results-section">
                <div class="row">
                    <div class="col-sm-9">
                        <input class="form-control input-lg" type="text" placeholder="Search Box" ng-model="searchPlace" />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-block btn-lg" ng-disabled="searchPlace.length == 0" ng-click="search()">Search</button>
                    </div>
                </div>
                <div class="col-sm-12" cg-busy="promise"></div>
                <div class="col-sm-12 result" ng-repeat="place in places track by $index">
                    <h4 class="col-sm-12">{{place.name}}</h4>
                    <h5 class="col-sm-12">{{place.formatted_address}}</h5>
                    <h5 ng-if="place.opening_hours.open_now == true" class="col-sm-12 open">Open Now</h5>
                    <h5 ng-if="place.opening_hours.open_now == false" class="col-sm-12 closed">Closed</h5>
                    <div class="col-sm-4 col-sm-offset-8">
                        <button class="btn btn-success btn-block" ng-click="savePlace(place)">Save</button>
                    </div>
                </div>
            </div>
            <div ng-show="displaySearch == false" class="col-sm-6 results-section">
                <h3 class="col-sm-6">My Saved Places!</h3>
                <div class="col-sm-4 pull-right">
                    <button class="btn btn-default btn-block" ng-click="backToSearch()">Back To Search</button>
                </div>
                <div class="col-sm-12 saved-places" ng-repeat="location in mySavedLocations">
                    <h4 class="col-sm-12">{{location.name}}</h4>
                    <h5 class="col-sm-12">{{location.formatted_address}}</h5>
                    <h5 ng-if="location.opening_hours.open_now == true" class="col-sm-12 open">Open Now</h5>
                    <h5 ng-if="location.opening_hours.open_now == false" class="col-sm-12 closed">Closed</h5>
                    <div class="col-sm-4 col-sm-offset-8">
                        <button class="btn btn-danger btn-block" ng-click="removePlace(location)">Remove</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 map-section">
                <div id="map"></div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8cpgNzXOaRkCJhaO6FX-ZMA8nZ9VWBk8&libraries=places"></script>
<script src="js/jquery-1.12.0.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-busy.min.js"></script>
<script src="js/angular-ui-notification.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="mainController.js"></script>
<script src="mapService.js"></script>

</html>